.header {
  width: 100%;
  height: 94px;
  line-height: 80px;
  background-color: #0e1630;
}

.nav__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo h1 {
  font-size: 2rem;
  margin-bottom: 0;
}

.logo h1 span {
  color: var(--site-theme-color);
}

.nav__menu {
  display: flex;
  align-items: center;
  column-gap: 2.8rem;
  background-color: #0e1630;
}

.nav__menu a,
.nav__menu > * {
  font-weight: 500;
  font-size: 1rem;
  text-decoration: none;
  transition: 0.3s;
}

.nav__right p {
  margin-left: 20px;
  position: relative;
}
.nav__right i {
  color: #808dad;
}

.nav__right p::before {
  content: "";
  position: absolute;
  top: 25%;
  left: -20px;
  width: 1px;
  height: 14px;
  background: #808dad;
  color: #808dad;
}

.nav__right p :hover {
  color: var(--site-theme-color);
}

.header__shrink {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  line-height: 80px;
  box-shadow: 5px 5px 15px -5px var(--site-theme-color) 44;
  z-index: 9999;
}

.mobile__menu i {
  font-size: 1.3rem;
  color: #fff;

  cursor: pointer;
}

.mobile__menu {
  display: none;
}

.color_FF0000 {
  color: #ff0000 !important;
}

.toggle__mode label{
  width: 48px;
  height: 20px;
  position: relative;
  display: block;
  background: #ebebeb;
  border-radius: 10px;
  box-shadow: inset 0px 1.5px 3.5px rgba(0, 0, 0, 0.4), inset 0px -1.5px 3.5px rgba(255, 255, 255, 0.4);
  cursor: pointer;
  transition: .3s;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 3px;
}
.toggle__mode label:after {
  content: "";
  width:18px;
  height: 18px;
  position: absolute;
  top:1px;
  left:2px;
  background: linear-gradient(180deg,#ffcc89,#d8860b);
  border-radius: 180px;
  box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
  transition: .3s;
}
.toggle__mode input{
  width: 0;
  height: 0;
  visibility: none;
  position: absolute;
}

.toggle__mode input:checked + label {
  background: #242424;
}
.toggle__mode input:checked + label:after {
  left:46px;
  transform: translateX(-100%);
  background: linear-gradient(180deg,#777,#3a3a3a);
}

.toggle__mode label .sun{
  z-index: 100;
  color:#fff;
  transition: 0.3s;
}
.toggle__mode label .moon{
  z-index: 100;
  color:#7e7e7e;
  transition: 0.3s;
}
.toggle__mode input:checked + label .sun {
  color:#7e7e7e;
}
.toggle__mode input:checked + label .moon {
  color:#fff;
}


/* ========== make it responsive ========= */

@media only screen and (max-width: 992px) {
  .navigation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #171f3897;
    z-index: 99999;
    display: none;
  }

  .nav__menu {
    position: absolute;
    top: 0;
    right: 0;
    width: 300px;
    height: 100%;
    flex-direction: column;
    justify-content: center;
  }

  .nav__right {
    display: none;
  }

  .mobile__menu {
    display: block !important;
  }

  .menu__active {
    display: block !important;
  }

  .logo h1 {
    font-size: 1.3rem !important;
  }

  .mobile__menuDiv {
    display: flex;
    align-items: center;
    gap: 7px;
  }
}

@media only screen and (max-width: 768px) {
  .header {
    height: 60px;
    line-height: 60px;
  }
}
