@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

@import 'bootstrap/dist/css/bootstrap.min.css';

@import 'remixicon/fonts/remixicon.css';


@import '~slick-carousel/slick/slick.css';
@import '~slick-carousel/slick/slick-theme.css';

