.service__item {
  background: #171f38;
  padding: 30px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  column-gap: 1rem;
  transition: 0.3s;
}

.service__item:hover {
  background: var(--site-theme-color);
  cursor: pointer;

  transform: translateY(-20px);
}

.service__item:hover i {
  color: #171f38;
}

.service__item:hover h5 {
  color: #171f38;
}

.service__item span,
.service__item h5,
.service__item span i {
  background: transparent !important;
}

.service__item span i {
  font-size: 3rem;
  color: var(--site-theme-color);
}

.service__item h5 {
  font-size: 1rem;
}

.service__item:first-child {
  border-radius: 10px 0px 10px 10px;
}

.service__item:last-child {
  border-radius: 10px 10px 0px 10px;
}

@media only screen and (max-width: 992px) {
  .service__item {
    padding: 20px;
  }
  .service__item span i {
    font-size: 2rem;
  }
  .service__item h5 {
    font-size: 0.9rem;
  }
}
