.services__container {
  display: flex;
  align-items: center;
  column-gap: 2rem;
  flex-direction: column;
  justify-content: space-between;
}

@media only screen and (max-width: 992px) {
  .services__container {
    flex-direction: column;
    align-items: unset;
  }

  .service__title h3 {
    font-size: 1.3rem;
  }
}
