.testimonial__item {
  padding: 0px 20px;
}

.testimonial__client {
  display: flex;
  column-gap: 1rem;
  margin-bottom: 30px;
}

.testimonial__client_Avatar {
  width: 50px;
  height: 50px;
}
.testimonial__client h6 {
  font-weight: 400;
}

.testimonial__client h6:last-child {
  color: var(--site-theme-color);
}

@media only screen and (max-width: 768px) {
  .testimonial__img img {
    width: 300px !important;
    height: 300px !important;
  }

  .testimonial__img {
    text-align: center;
    margin-bottom: 30px;
  }
}



